USE [EQuIS]
GO
/****** Object:  Table [dbo].[dt_hai_task_permissions]    Script Date: 8/3/2017 3:16:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dt_hai_task_permissions](
	[facility_id] [int] NOT NULL,
	[task_code] [varchar](40) NOT NULL,
	[permission_type_code] [int] NOT NULL CONSTRAINT [DF_dt_hai_task_permissions_permission_type_code]  DEFAULT ((0)),
	[euid] [int] NULL,
 CONSTRAINT [PK__task_permission] PRIMARY KEY CLUSTERED 
(
	[facility_id] ASC,
	[task_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[dt_hai_task_permissions] ([facility_id], [task_code], [permission_type_code], [euid]) VALUES (47, N'0014001-AA', 0, NULL)
INSERT [dbo].[dt_hai_task_permissions] ([facility_id], [task_code], [permission_type_code], [euid]) VALUES (47, N'0014001-QC', 0, NULL)
INSERT [dbo].[dt_hai_task_permissions] ([facility_id], [task_code], [permission_type_code], [euid]) VALUES (47, N'0014001-SS', 0, NULL)
GO
ALTER TABLE [dbo].[dt_hai_task_permissions]  WITH NOCHECK ADD  CONSTRAINT [FK__dt_task_perm_dt_task] FOREIGN KEY([facility_id], [task_code])
REFERENCES [dbo].[dt_task] ([facility_id], [task_code])
GO
ALTER TABLE [dbo].[dt_hai_task_permissions] CHECK CONSTRAINT [FK__dt_task_perm_dt_task]
GO
ALTER TABLE [dbo].[dt_hai_task_permissions]  WITH NOCHECK ADD  CONSTRAINT [FK__dt_task_perm_rt_hai_permissions] FOREIGN KEY([permission_type_code])
REFERENCES [dbo].[rt_hai_permissions] ([permission_type_code])
GO
ALTER TABLE [dbo].[dt_hai_task_permissions] CHECK CONSTRAINT [FK__dt_task_perm_rt_hai_permissions]
GO
